.floodwatch-screen-inprogress {
  outline: 1px dashed rgba(255, 255, 0, 1.0);
}

.floodwatch-isad {
  filter: sepia(0.9) hue-rotate(310deg);
}

.floodwatch-recorded {
  display: none;
  filter: sepia(0.9) hue-rotate(290deg);
}
